body {
background-color: teal;  
}

h1 {
  color: #ff0000;
  font-family: cursive;
  font-size: 48px;
  text-align: center;

}

p {
  color: black;
  font-family: serif;
  font-size: 20px;
  text-align: center;
}
